<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.generalrobotix.ui.view.GrxPathPlanningViewPart"
            id="com.generalrobotix.ui.view.GrxPathPlanningViewPart"
            name="Path Planner">
      </view>
   </extension>

</plugin>
