<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.generalrobotix.ui.grxui.GrxUIPerspectiveFactory"
            icon="resources/images/grxrobot.png"
            id="com.generalrobotix.ui.grxui.GrxUIPerspectiveFactory"
            name="GrxUI">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.generalrobotix.ui.view.GrxItemViewPart"
            id="com.generalrobotix.ui.view.GrxItemViewPart"
            name="Item View">
      </view>
      <view
            class="com.generalrobotix.ui.view.GrxTestViewPart"
            id="com.generalrobotix.ui.view.GrxTestViewPart"
            name="Test View">
      </view>
      <view
            class="com.generalrobotix.ui.view.GrxJythonPromptViewPart"
            id="com.generalrobotix.ui.view.GrxJythonPromptViewPart"
            name="JythonPrompt View"/>
      <view
            class="com.generalrobotix.ui.view.GrxPropertyViewPart"
            id="com.generalrobotix.ui.view.GrxPropertyViewPart"
            name="Property View"/>
      <view
            class="com.generalrobotix.ui.view.GrxORBMonitorViewPart"
            id="com.generalrobotix.ui.view.GrxORBMonitorViewPart"
            name="NameService Monitor"/>
      <view
            class="com.generalrobotix.ui.view.Grx3DViewPart"
            id="com.generalrobotix.ui.view.Grx3DViewPart"
            name="3DView"/>
      <view
            class="com.generalrobotix.ui.view.GrxLoggerViewPart"
            id="com.generalrobotix.ui.view.GrxLoggerViewPart"
            name="Logger View"/>
      <view
            class="com.generalrobotix.ui.view.GrxGraphViewPart"
            id="com.generalrobotix.ui.view.GrxGraphViewPart"
            name="Graph"/>
      <view
            class="com.generalrobotix.ui.view.GrxProcessManagerViewPart"
            id="com.generalrobotix.ui.view.GrxProcessManagerViewPart"
            name="Process Manager"/>
      <view
            class="com.generalrobotix.ui.view.GrxOpenHRPViewPart"
            id="com.generalrobotix.ui.view.GrxOpenHRPViewPart"
            name="OpenHRP"/>
      <view
            class="com.generalrobotix.ui.view.GrxRobotStatViewPart"
            id="com.generalrobotix.ui.view.GrxRobotStatViewPart"
            name="Robot State"/>
      <view
            class="com.generalrobotix.ui.view.GrxTextEditorViewPart"
            id="com.generalrobotix.ui.view.GrxTextEditorViewPart"
            name="Text Editor">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.generalrobotix.ui.actionSet"
            label="GrxUI Actions"
            visible="false">
         <menu
               id="GrxUIMenu"
               label="&amp;GrxUI">
            <separator
                  name="GrxUIGroup">
            </separator>
         </menu>
         <action
               class="com.generalrobotix.ui.actions.StopSimulate"
               icon="resources/images/sim_stop.png"
               id="com.generalrobotix.ui.actions.StopSimulate"
               label="Stop Simulation"
               menubarPath="GrxUIMenu/GrxUIGroup"
               toolbarPath="GrxUIGroup"
               tooltip="stop simulate">
         </action>
         <action
               class="com.generalrobotix.ui.actions.StartSimulate"
               icon="resources/images/sim_start.png"
               id="com.generalrobotix.ui.actions.StartSimulate"
               label="&amp;Start Simulate"
               menubarPath="GrxUIMenu/GrxUIGroup"
               toolbarPath="GrxUIGroup"
               tooltip="run simulate">
         </action>
         <action
               class="com.generalrobotix.ui.actions.LoadProject"
               id="com.generalrobotix.ui.actions.LoadProject"
               label="Load Project"
               menubarPath="GrxUIMenu/GrxUIGroup">
         </action>
         <action
               class="com.generalrobotix.ui.actions.SaveProject"
               id="com.generalrobotix.ui.actions.SaveProject"
               label="Save Project"
               menubarPath="GrxUIMenu/GrxUIGroup">
         </action>
         <action
               class="com.generalrobotix.ui.actions.RestoreProject"
               id="com.generalrobotix.ui.actions.RestoreProject"
               label="Restore Project"
               menubarPath="GrxUIMenu/GrxUIGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.generalrobotix.ui.grxui.GrxUIPerspectiveFactory">
         <actionSet
               id="com.generalrobotix.ui.actionSet"
               label="GrxUI Actions"
               visible="true">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
